{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="px-3">
    <img src="{% static 'users/bell.svg' %}" alt="Bootstrap" width="100" height="">
    <br>
    <br>
    <h1>Remind Anyone</h1>
    <p class="lead">Stop forgetting and
        start reminding anything to anyone!
    </p>

    <div class="container">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputLogin1" class="form-label">Username</label>
                <input name="username" type="text" class="form-control" id="exampleInputLogin1" placeholder="Enter your username..."
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="••••••••">
            </div>
            <input type="submit" class="btn btn-lg btn-secondary fw-bold border-white bg-white" value="Log in">
            <div class="p-refreshed_page__header_sidelink">New to Remind Anyone?<br><a target="_self" class="c-link bold" href="{% url 'register' %}" rel="noopener noreferrer">Create an account</a></div>
        </form>
    </div>

</main>
{% endblock content %}